<!DOCTYPE html>
<html>

<head>
    {{template "head"}}
</head>

<body>
    {{template "navbar"}}
    <div class="container">
        <p><b>Account</b> {{.}} [TODO] </p>
        <p style="color: red"><b>[TODO]</b> not implemented</p>
        <table>
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    {{template "footer"}}
</body>

</html>